.lollipop-line {
    stroke: black;
    stroke-width: 1px;
    z-index : 10;
}

circle {
    stroke-width: 1px;
    stroke: black;
    z-index : 10;
}

.lollipop-Inventaire {
    fill: #A1D9D6;
}

.lollipop-Emprunts {
    fill: #01462A;
}

.radioButton {
    vertical-align: middle;
    margin-bottom: 2px;
}
    
  