.heatmap-rect {
    transition: all .5s;
    cursor: pointer;
    stroke: #fff;
    stroke-width: .5;
}

.heatmap-rect:hover {
    stroke-width: 4;
}

#yearChoice {
    width: 100%;
    max-width: 400px;
    margin: auto;
    margin-bottom: 30px;
}



