/***** Dataviz - Libraries Map *****/
#libraries_map { 
    margin: auto;
    height: 600px; 
  }
  
  .lib-circle {
    stroke: black;
    opacity: 0.8;
    fill: #FE390F;
    cursor: pointer;
  }
  
  @keyframes circle-flash-animation {
    from {
      fill-opacity: 1;
    }
    to {
      fill-opacity: 0.6;
    }
  }
  
  .circle-selected {
    animation: circle-flash-animation 1s ease-out infinite;
    animation-direction: alternate;
    fill: #591AEF;
  }
  
  #panel {
    position : relative;
    padding : 4px;
    border : 1px solid gray;	
    border-radius : 4px;
    background : lightblue;
    width : 35%;
    height : 53%;
    float : right;
    z-index : 10;
    margin-top : 2px;
    margin-right : 2px;
    cursor : default;
    display : none;
    overflow: auto;
  }
  
  #panel button {
    width: 15px;
    height: 15px;
    padding: 0;
    position: absolute;
    top: 2px;
    right: 2px;
    float: right;
    border-radius: 50%;
    background-color: #f0f0f0;
    border: 1px solid #d0d0d0;
    font-size: 0.8em;
    cursor: pointer;
    outline: none;
  }
  #panel button:hover {
    background-color: #ccc;
  }
  
  #panel h1 {
    margin-top: 8px;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
  }
  
  #panel .info-list {
    font-size: 1.1em;
    list-style-position: inside;
    padding-left: 0px;
    margin-bottom: 3px !important;
  }
  
  .libNameTooltip {
    position : absolute;
    background : white;
    z-index : 10;
    visibility : hidden;
    opacity : 0.8;
  }
  